In [9]:
import pandas as pd

df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [13]:
df.shape

(48895, 16)

In [15]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [21]:
max_threshold = df['price'].quantile(0.95)
max_threshold

355.0

In [22]:
min_threshold = df['price'].quantile(0.05)
min_threshold

40.0

In [23]:
df_fixed = df[(df.price > min_threshold) & (df.price < max_threshold)]
df_fixed.shape

(43631, 16)

In [24]:
df_fixed.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.363100e+04,4.363100e+04,43631.000000,43631.000000,43631.000000,43631.000000,43631.000000,35092.000000,43631.000000,43631.000000
mean,1.874542e+07,6.494019e+07,40.729397,-73.952633,128.201187,6.850359,24.227017,1.382010,6.752424,109.439917
std,1.097545e+07,7.726130e+07,0.054071,0.045249,70.515988,20.148614,45.666488,1.690541,31.909715,130.068423
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,41.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.218810e+06,7.362414e+06,40.690500,-73.982890,72.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.932280e+07,2.869966e+07,40.723110,-73.955730,109.000000,2.000000,6.000000,0.720000,1.000000,40.000000
75%,2.878742e+07,1.020121e+08,40.763615,-73.937710,169.000000,5.000000,25.000000,2.040000,2.000000,216.000000
max,3.648724e+07,2.743213e+08,40.911690,-73.712990,353.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [25]:
df_fixed['price']

0        149
1        225
2        150
3         89
4         80
        ...
48889     65
48890     70
48892    115
48893     55
48894     90
Name: price, Length: 43631, dtype: int64

In [26]:
df_fixed.price.describe()

count    43631.000000
mean       128.201187
std         70.515988
min         41.000000
25%         72.000000
50%        109.000000
75%        169.000000
max        353.000000
Name: price, dtype: float64